h1 {
	text-align: center;
	color: teal;
	font-size: 50pt;
}

#background {
	   position:fixed;
	   top:0;
	   left:0;
	   z-index: -1;
	   min-width: 100%;
       min-height: 100%;
   }
   
   span {
    display: block;
    width: 300px;
    height: 100px;
    line-height: 100px;
    background: black;
    text-align: center;
    font-size: 3em;
    font-family: 'Lato';
	color: #FDFEFE;
	border: 8px blue;
	border-radius: 20px 20px 20px 20px;
    box-shadow: 10px 10px 10px aqua;

   
}

.overlay {
  
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;

    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
}

.overlay-content {
    position: relative;
    top: 30%; 
    width: 100%;
    text-align: center; 

}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
}


.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}


.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

